<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Fast Store Control Panel - <%=product.nama_produkrs%></title>
</head>

<body>
    <div class="d-flex">
        <%- include('partials/sidebar') %>
        <div style="width: 85%;" class="d-flex m-4 justify-content-center align-items-center gap-2">
            <div style="height: 90%;" class="d-flex flex-column w-100 p-5 gap-2 bg-dark text-white">
                <h2>Nama Produk : <%=product.product_name%></h2>
                <h5>Harga : <%=product.price%></h5>
                <h5>Kategori : <%=product.category%></h5>
                <h5>Status : <%=product.status%></h5>
                <h5>Dibuat Oleh : <%=product.user%></h5>
                <h5>Dibuat Tanggal : <%=product.getFormattedDate(product.createdAt)%> </h5>
                <h5>DIperbarui Tanggal : <%=product.getFormattedDate(product.updatedAt)%></h5>
            </div>
        </div>
    </div>
</body>

</html>